# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
ENV/
env/
*.log
logs/

# Frontend Node
node_modules/
dist/
dist-ssr/
*.local
.env
.eslintcache

# OS/IDEs
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
